   @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Space+Grotesk:wght@300..700&display=swap');
   @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus, input:focus + label {
  outline: none;
  box-shadow: inset 0 2px var(--background);
}



:root {
--background: #8E98A6;
--grid: #8CBEB2;
--text: #F2EBBF;
--textfade: #5C4B51;
--textbright: #F3B562;
}

html {height: 100%;
      background-color: var(--background);
font-size: 16px;
font-family: 'Space Grotesk', sans-serif;
font-weight:400;
color: #333333}

main {}
body {height: 100%;}
header {padding:1em; padding-bottom: 2em;
   font-family: 'Krona One', sans-serif;
font-weight:700;}
footer {padding:1em; font-size:0.75em; position: sticky;
  top: 100vh; width: 100%;
       clear: both;}

p {margin-bottom:.5em;}

a:link {
color: var(--textfade);
text-decoration: none;}
a:visited {
color: var(--textfade);
text-decoration: none;}
a:hover {
color: var(--textbright);
text-decoration: underline;}

nav{position: relative;
    width: 90%;
    background: var(--textfade); 
    margin: 1.5em 5%;}
nav ul{
	display: flex; 
	flex-wrap: wrap; 
	max-width: 1080px; 
	margin: 0 auto;
	list-style: none;
	padding: 0;		}
nav ul, nav li{
	flex: 1;	}
nav li:last-child{border-bottom: none;}
nav .menuitem {
	color: var(--text);
	display: block;
	font-size: 1.25em;}
nav a.menuitem:link, a.menuitem:visited{
	text-decoration: none;
	color: var(--grid);
	display: block;
	font-size: 1.25em;}
nav a.menuitem:hover{
	background: var(--grid);
	color: var(--textfade);}
nav li{
	position: relative;
	line-height: 50px;
	color: var(--grid);
	text-align: center;}  
nav input,
nav label{
	display: none;
	width: 2em; 
	height: 2em; 
	background: var(--textfade); 
	color: var(--grid); 
	text-align: center; 
	line-height: 2em;
	font-size: 1.5em;
	border-radius: 2px;} 
nav label{position: absolute; top: -2em; right: 0; transition: .4s;}
nav label:hover{cursor:pointer;}
nav label:before{
	font-family: FontAwesome;
	font-size: 1.5em;
	content: "\f0c9";
	text-align: center;}

.upcoming li {
display: block;
background: var(--text);
padding: .25em;
margin-top: .5em;}
.darkcard {
display: block;
background: var(--textfade);
color: var(--text);
padding: .25em;
margin-top: .5em;}

.ref {}
.ref-italic {font-style: italic;}
.ref-bright {color: var(--textfade);}
.ref-little {
font-size: .75em;
font-weight:300;}
.ref-big {
font-size: 1.25em;
font-weight:500;
color: var(----textbright);}

.spacer {padding-top:1.5em}

.featured {
color: var(--text);
font-weight:500; font-size:1.25em}}
   
.container {display: grid;
  background:  var(--grid);
  width: 90%;
  margin: auto;
  grid-template-columns: 100%;
  grid-template-rows: auto 2em auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "description"
    "gap"
    "righty"
    "lefty";
}
   
.gap {  grid-area: gap; background:  var(--background); width:100%; margin: 0;} 
.description, .lefty, .righty {padding: 1em}
.description { grid-area: description; }
.lefty { grid-area: lefty; }
.righty { grid-area: righty; }

.full {
  width:90%;
  margin: auto;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  width: 300px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: var(--textbright);
  border: none;
  padding: .5em;
  text-decoration: none;
  margin: .5em 0;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: var(--grid);
}

.formblock label {margin-top: .5em; margin-bottom: .5em;}

.formblock {
text-align: right;
display: block;
background: var(--text);
padding: .5em;}

table.explorelist {
table-layout: auto;
width: 100%;
  background:  var(--grid);
  border: 0px;
font-size: .75em;
font-weight:300;}
th,
td {
  padding: .5em;
  border-bottom: 1px solid var(--text);}
tr:hover {background-color: var(--background);}


.tabs {
  display: block;
  overflow: hidden;
  padding: 0;
  width: 100%;
  margin: 0;
  padding-bottom: 2em;
}

.radiotab {
  position: absolute;
  opacity: 0;
}

.label {
  position: relative;
  display: block;
  float: left;
  height: 6em;
  padding: 1.5em 0 1em 3em;
  background: var(--text);
  cursor: pointer;
  font-size: 1em;
  color: var(--textfade);
  border: none;
  border-radius: 0;
  text-align: left;
}
.label:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 3em solid transparent;
  border-bottom: 3em solid transparent;
  border-left: 2em solid var(--text);
  position: absolute;
  top: 0;
  margin-top: 0;
  left: 100%;
  z-index: 2;
}

.label:last-of-type {
  background: var(--grid);
  padding-right: 2em;}
.label:last-of-type:after {
  content: "";
  border: none;}

.radiotab:hover + .label {
  background: #F3D091;} 
.radiotab:hover + .label:after {
  border-left: 2em solid #F3D091;}

.radiotab:checked + .label {
  background: var(--textbright);
  color: #333;
  border: none;}
.radiotab:checked + .label:after {
  border-left: 2em solid var(--textbright);}
.radiotab:checked + .label + .panel {
  display: block;}

.panel {
  display: none;
  position:absolute; 
  top: 24em; /* unfortunately have to hardcode this atm */
  padding: 1em;
  background: var(--textbright);
  width:90%;
  margin: auto;
}
   
@media only screen and (min-width: 651px) {

  .container {display: grid;
  background:  var(--grid);
  width: 90%;
  margin: auto;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 2em auto;
  gap: 0;
  grid-auto-flow: row;
  grid-template-areas:
    "description description"
    "gap gap"
    "lefty righty";}
   #altdivide.container {  grid-template-columns: 30% 70%;
}
}

	@media only screen and (max-width: 1080px){
	nav ul{
		display: none; 
	} 
	nav li{
		flex: none; 
		width: 100%;} 
	nav input[type="checkbox"]:checked + ul{
		display: block;
		width: 100%;
		background: var(--textfade); }
	nav label{display: block;} 
		
.label {
  position: relative;
  display: block;
  float: left;
  height: 6em;
  width: 100%;
  padding: 1em 2em;
}
.label:after {
  content: "";
  border: none;
}

.label:last-of-type {
  background: var(--grid);
  padding-right: 2em;}
.label:last-of-type:after {
  content: "";
  border: none;}

.radiotab:hover + .label {
  background: #F3D091;} 
.radiotab:hover + .label:after {
  border: none;}

.radiotab:checked + .label {
  background: var(--textbright);
  color: #333;
  border: none;}
.radiotab:checked + .label:after {
  border: none;}
.radiotab:checked + .label + .panel {
  display: block;}

.panel {
  display: none;
  position:relative; 
  top: 0;
  padding: 1em;
  background: var(--textbright);
  width:100%;
  margin: 0;
  z-index: -1;
}
}
